* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Id's */

#wrapper {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#floatHome {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
}

#indexContainer {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

#headTitle {
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headTitle h1,
#headTitle h3 {
    margin-bottom: 15px;
}

#goCategory {
    width: 300px;
}

#cardCategory {
    display: flex;
    flex-direction: column;
}

#category1 {
    display: inline-flex;
}

#category2 {
    display: inline-flex;
}

#category3 {
    display: inline-flex;
}

#buttonCategory {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Clases */

.title {
    font-size: 80px;
}

.subTitle {
    font-size: 40px;
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    background-color: white;
}

.center {
    margin-left: 15px;
    margin-right: 15px;
}

.round {
    height: 20px;
    width: 20px;
    border-radius: 40px;
    background-color: white;
    padding: 10px;
    margin: 10px 10px;
}

.selected {
    background-color: grey;
}

.background-inicio {
    background-image: url(../img/inicioJapon.jpg);
    animation-name: backgroundAnimation;
    animation-duration: 1s;
}

.background-historia {
    background-image: url(../img/backgroundHistoria.jpg);
}

.background-cultura {
    background-image: url(../img/backgroundCultura.jpg);
}

.background-turismo {
    background-image: url(../img/backgroundTurismo.jpg);
}

.background-gastronomia {
    background-image: url(../img/backgroundGastronomia.jpg);
}

.background-festividades {
    background-image: url(../img/backgroundFestividades.jpg);
}

.background-eventos {
    background-image: url(../img/backgroundEventos.jpg);
}

.background-urbanizacion {
    background-image: url(../img/backgroundUrbanizacion.jpg);
}

.background-aportes {
    background-image: url(../img/backgroundAportes.jpg);
}

.background-viajes {
    background-image: url(../img/backgroundViajes.jpg);
}


/* Animaciones */

@keyframes backgroundAnimation {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}