*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
}

#floatHome{
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
}

#indexContainer{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

#headTitle{
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headTitle h1, #headTitle h3{
    margin-bottom: 15px;
}

#goCategory{
    width: 300px;
}

#cardCategory{
    display: flex;
    flex-direction: column;
}

#category1{
    display: inline-flex;
}

#category2{
    display: none;
}

#category3{
    display: none;
}

#buttonCategory{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title{
    font-size: 80px;
}

.subTitle{
    font-size: 40px;
}
.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.center{
    margin-left: 15px;
    margin-right: 15px;
}

.round{
    height: 20px;
    width: 20px;
    border-radius: 40px;
    background-color: grey;
}


/* Categoria Eventos */
ul, ol{
    list-style: none;
}

.captions{
    font-family: consolas;
}

.slideshowEv {
    width: 100%;
    position: relative;
}

.sliderEv ul li{
    width: 100%;
}

.sliderEv li img {
    width: 100%;
    height: 800px;
}

.sliderEv .captions {
    position: absolute;
    width: 100%;       
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.pagination {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination li {
    font-size: 20px;
    margin: 2px 5px;
    color: rgb(136, 136, 136);
    cursor: pointer;
}

/*Calendario de Eventos*/

.once {
    display: none;
}

.doce {
    display: none;
}